# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Build directory
build/*
cmake-build-debug/*
cmake-build-release/*

# IDE stuff
.idea/*
.vscode/*

#Just too big for github
instances/cvrp/A2_z306601_cplex306094.scp
instances/cvrp/B2_z370473_cplex370151.scp
instances/cvrp/F2_z4664483_cplex4664283.scp
instances/cvrp/F2_z4676117_cplex4666387.scp
instances/cvrp/G2_z273519_cplex273287.scp
instances/cvrp/L2_z115772_cplex115714.scp
.cache
